.content_principal{
    width: 30%;
    margin:auto;
    margin-top: 50px;
}
.container2{
    width: 500px;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

.content_principal2{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}